/*            Start                           */
.containerBody {
    width: 100%;
    height: 650px;
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #4b0082;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.screenStart{
    width: 100%;
    height: 540px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: grid;
}
.screenStart > .containerTittlleStart{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.screenStart > .containerFhrasesStart{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.screenStart > .containerButtomStart{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.screenStart > .containerImgStart{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: flex-end;
}


/*                                        */


.screenPlayers{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: grid;
}
.screenPlayers > .containerTittlePlayers{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.namePlayers{
    font-size: 30px;
}
.screenPlayers > .containerButtomPlayers{
    width: 100%;
    height: 160px;
}

/*                                        */

.screenGame{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: grid;
}
.screenGame > .tittlePlayerGame{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.screenGame > .wordGame{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.screenGame > .timeGame{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.screenGame > .containerInputGame{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.screenGame > .buttonGame{
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*                             */
.screenResult{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: grid;
    display: flex;
    justify-content: center;
    align-items: center;
    display: block;
}
.screenResult > .tittleResult{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.screenResult > .result{
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: block;
}
.screenResult > .containerButtomRestartGame{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}






button {
    background-color: #ff1493;
    width: 50%;
    border: none;
    padding: 10px 20px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 200px;
    margin-top: 10px;
}

button:hover {
    background-color: #ff69b4;
}


/*
#pantallaInicio, #pantallaJugadores, #pantallaJuego, #pantallaResultados {
    *margin-top: 50px;
}
*/
input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 80%;
    text-align: center;
}
